<tr>
  <th>
    Trello:
  </th>
  <td>
    <!-- create a Trello card on our Current board -->
    <button type="button"
            data-list-id="565f561f0367205df62ec67d"
            data-card-name="[% bug.id FILTER html %] &ndash; [% bug.short_desc FILTER html %]"
            data-card-desc="Refer to Bugzilla for details."
            onclick="makeTrelloCard(this);">Make Card</button>
  </td>
</tr>
